<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
        <% fight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.datetime_select :schedule %>
  </div>

    <div class = "control-group">
  <%= form.label :challenger, class: 'control-group'%>
    <div class="controls" >
  <%= collection_select(:fight, :challenger_id, User.all, :id, :username, {}, {:multiple => false}) %>
    </div>
  </div>
  

    <div class = "control-group">
  <%= form.label :challenged, class: 'control-group'%>
    <div class="controls" >
  <%= collection_select(:fight, :challenged_id, User.all, :id, :username, {}, {:multiple => false}) %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
