<!DOCTYPE html>
<html>

<body class="bgf">
    <div style="margin-top: 1em">
<div class="box-inside center-block text-center">

<h1 style="color:red">Resolver no Braço</h1>
<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Schedule</th>
      <th>Challenger</th>
      <th>Challenged</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.schedule %></td>
        <td><%= fight.challenger.username %></td>
        <td><%= fight.challenged.username %></td>
        
        <td><%= link_to 'SHOW', fight, class:"btn btn-primary" %></td>
        <% if fight.challenger == current_user || fight.challenged == current_user || current_user.admin %>
        <td><%= link_to 'EDIT', edit_fight_path(fight), class:"btn btn-secondary" %></td>
        <td><%= link_to 'DESTROY', fight, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%></td>
        <% end %>
      </tr>


    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path , class:"btn btn-danger btn-lg", style:"color:white; font-weight: bold; text-transform: uppercase;"%>
</div>
</div>
</body>
</html>
