<body class="bgs ">
<div class="container justify-content: center">
<p>
  <strong>Schedule:</strong>
  <%= @fight.schedule %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @fight.challenger.username %>
</p>

<p>
  <strong>Challenged:</strong>
  <%= @fight.challenged.username %>
</p>
<hr>
</div>

<div class="container justify-content: center">

    <div class="btn-group">

      <%= link_to like_fight_path(@fight), method: :put, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Challenger Win
      <%= @fight.get_upvotes.size %>
      <% end %>
        
      <%= link_to dislike_fight_path(@fight), method: :put, class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Challenged Win
      <%= @fight.get_downvotes.size %>
      <% end %>
        
      
      <hr>
    </div>
    <div class="col-sm-3 col-xs-offset-6">
      <% if @fight.challenger == current_user || @fight.challenged == current_user %>
      <%= link_to 'EDIT', edit_fight_path(@fight), class:"btn btn-primary", style:"font-weight: bold" %>
      <% end %>
      <%= link_to 'BACK', fights_path, class:"btn btn-warning", style:"font-weight: bold" %>
    </div>
  
  <div class="size col-sm-3 col-xs-offset-6">
  <hr>
  <h2 class="comments_title">
    <%= @fight.comments.count %> Comments
  </h2>

  <div id="comments">
    <%= render :partial => @fight.comments %>
  </div>
  <%= simple_form_for [@fight, Comment.new] do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <br>
    <%= f.submit "ADD COMMENT", class:"btn btn-primary", style:"font-weight: bold" %>
  <% end %>
  </div>
  </body>