/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
    margin: 0;
    font-family:'Calligraffitti', cursiva;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    text-align: left;
    background-color: rgb(231, 243, 250);
  }

.navbar{
   background-color: black;
   background-image: none;
}

.navbar >li>a {
  color: red;
}

.navbar-nav >li>a {
   color: red;
   font-weight: bold;
   text-transform: uppercase;
 }
 .navbar-nav > li:hover >a,
 .navbar-nav > li.active >a
 {
   color: white;
 }

