// Place all the styles related to the Fights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

body, html {
    height: 100%;
  }
  .bgf {
    background-image: image-url("fc5.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgs {
    background-image: image-url("fc7.jpg");
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .size{
    max-width: 25vw;    
  }

  body h1 {
    color:red;
    font-weight: bold;
    text-transform: uppercase;
  }

  table {
    background-color: rgba(0, 0, 0, 0.7);
  }

  table tbody tr td {
    color: white;
  }
  table thead tr th {
    color: white;
  }

  table tbody tr {
    &:hover{
      background-color: rgba(145, 0, 0, 0.85);
    }
  }

  