// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body, html {
    height: 100%;
  }
  .bgh {
    background-image: image-url("fc3.jpg");
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .rules{
    background-color:gray ;
    width: 750px;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
  }