// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

body{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family:cursiva;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    text-align: left;
  }
  
  .bgr {
    background-image: image-url("fc4.jpg");
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .bgp{
    background-image: image-url("fc6.jpg");
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }