<!DOCTYPE html>
<html>
  <head>
    <title>FightClubFGA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>


    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
          <div class="navbar-header" ><%= link_to 'FIGHT CLUB', root_path , style:"color:red; font-weight: bold; text-transform: uppercase;"%></div>
          <div class="navbar-right">
           <ul class="nav navbar-nav">
              <li class="nav-link"><%= link_to 'Fights', fights_path  %></li>
              <% if user_signed_in? %>
                <li class="nav-link"><%= link_to 'Account', edit_user_registration_path %></li>
                <li class="nav-link"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li class="nav-link"><%= link_to 'Sign up', new_user_registration_path %></li>
                <li class="nav-link"><%= link_to 'Sign in', new_user_session_path %></li>
              <%end%>
            </ul>
        </div>
      </div>
    </nav>
    

    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    
    <% end %>
    <div style="height: 100%;">
    <%= yield %>
    </div>
  </body>
</html>